.container {
    display: flex;
    width: 60%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* margin: auto; */
}

.div-section {
    /* justify-content: center;
    align-content: flex-start;
    margin: auto; */
    display: flex;
    width: 100%;
    height: auto;
    /* background-color: rgb(214, 213, 213); */
}

.sub-title {
    width: 100%;
    background-color: rgb(214, 213, 213);
}

.workno {
    width: 100%;
    background-color: rgb(214, 213, 213);
}

.applydate {
    width: 100%;
    background-color: rgb(214, 213, 213);
}

.note {
    width: 100%;
    background-color: rgb(214, 213, 213);
}