.container {
    display: grid;
    grid-template-rows: auto;
    /* margin: auto; */
    background-color: yellow;
}

.sub-title {
    width: 100%;
    background-color: rgb(214, 213, 213);
}

/* .workno {
    width: 100%;
    background-color: rgb(214, 213, 213);
}

.applydate {
    width: 100%;
    background-color: rgb(214, 213, 213);
}

.note {
    width: 100%;
    background-color: rgb(214, 213, 213);
} */

.details-pro {
    display: grid;
    grid-template-columns: 1fr;
    border-style: dashed;

}

.details-new {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    grid-template-areas: "left right";
    border-style: dashed;
}

.details-left {
    grid-area: left;
}

.details-right {
    grid-area: right;
}

.details-new-delete {
    height: 100%;
}