.wrapper {
    /* background-color: aqua; */
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    border-style: groove;
}

.dishes-buttons-rows {
    /* height: 100px; */
    border-style: dotted;
    width: 100%;
    float: left;
    align-content: space-between;
}

.dish-pic {
    float: left;

}

.dish-price-label {
    /* float: left; */
}

.dish-price-title {
    /* float: left; */
}

.dish-price {
    /* float: left; */
}

.dish-get {
    /* float: left; */
}